 DATABASE_URL=DATABASE_URL


JWT_SECRET=JWT_SECRET
JWT_EXPIRES_IN=JWT_EXPIRES_IN
JWT_REFRESH_SECRET=JWT_REFRESH_SECRET
JWT_REFRESH_EXPIRES_IN=JWT_REFRESH_EXPIRES_IN


AUTH_SERVICE_PORT=3001
VOICE_SERVICE_PORT=3002
WORKER_SERVICE_PORT=3003
TTS_SERVICE_PORT=8000



MINIO_ENDPOINT=MINIO_ENDPOINT
MINIO_PORT=MINIO_PORT
MINIO_ACCESS_KEY=MINIO_ACCESS_KEY
MINIO_SECRET_KEY=MINIO_SECRET_KEY
MINIO_BUCKET=MINIO_BUCKET
MINIO_USE_SSL=MINIO_USE_SSL